html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #b7e4c7;
}

.nav-link {
  color: #b7e4c7;
}

.display-4 {
  padding-top: 10px;
}

.display-4 {
  color: #2d6a4f;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.lead {
  color: #2d6a4f;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 2rem;
}

#about {
  background-color: #95d5b2;
}

#projects {
  background-color: #b7e4c7;
}

#contact {
  background-color: #b7e4c7;
}

footer {
  background-color: #95d5b2;
}

section {
  padding-top: 5rem;
}
